<ion-header>

  <ion-navbar color="primary">
    <ion-title>Lotes</ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="addPortion()">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    
        <ion-row *ngFor="let portion of portions; let i = index">
            <ion-col col-6 *ngIf="portions[i] && i%2 == 0">
              <button ion-button class="lotes" (click)="presentActionSheet(portions[i])">Lote {{portions[i].codigo}}</button>
            </ion-col>
            <ion-col col-6 *ngIf="portions[i+1] && i%2 == 0">
              <button ion-button class="lotes" (click)="presentActionSheet(portions[i+1])">Lote {{portions[i+1].codigo}}</button>   
            </ion-col>
          </ion-row>
      
          
      <!-- </ion-col>
      <ion-col>
        <button ion-button class="lotes" (click)="presentActionSheet()">Lote</button>
      </ion-col>
      <ion-col>
        <button ion-button class="lotes" (click)="presentActionSheet()">Lote</button>
      </ion-col>
      <ion-col>
        <button ion-button class="lotes" (click)="presentActionSheet()">Lote</button>
      </ion-col> -->
    
  </ion-grid>
</ion-content>