page-riego-modal {   

    height: 60% !important;
    width: 80% !important;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin-top: 20% !important;
    margin-left: 10% !important;

    
}
.modal-wrapper {
background: rgba(0,0,0,0.5);
}

