<!--
  Generated template for the AddlandPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Agregar una finca</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>

        <ion-item>
          <ion-icon name="image" item-start></ion-icon>
          <ion-label>Nombre de la finca:</ion-label>
          <ion-input [disabled]="edit" type="text"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-icon name="sunny" item-start></ion-icon>
          <ion-label>Temperatura promedio:</ion-label>
          <ion-input type="number"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-icon name="trending-up" item-start></ion-icon>
          <ion-label>Altitud:</ion-label>
          <ion-input type="number"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-icon name="leaf" item-start></ion-icon>
          <ion-label>Codigo del Municipio:</ion-label>
          <ion-input type="number"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-icon name="cloudy" item-start></ion-icon>
          <ion-label>Tipo de Clima:</ion-label>
          <ion-input type="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Pais</ion-label>
          <ion-select [(ngModel)]="finca.municipio.departamento.pais">
              
            <ion-option *ngFor="let pais of paises" [value]="pais.codigo" (click)="paisSeleccionado(pais)">
              {{pais.nombre}}</ion-option>
          </ion-select> 
        </ion-item>
        <!--ion-item>
          <ion-label>País</ion-label>
          <ion-select [(ngModel)]="pais">
            <ion-option value="Argentina">NES</ion-option>
            <ion-option value="Bélgica">Nintendo64</ion-option>
            <ion-option value="Chile">PlayStation</ion-option>
            <ion-option value="Dinamarca">Sega Genesis</ion-option>
            <ion-option value="Estados Unidos">Sega Saturn</ion-option>
            <ion-option value="Finlandia">SNES</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Departamento</ion-label>
          <ion-select [(ngModel)]="departamento">
            <ion-option value="nes">NES</ion-option>
            <ion-option value="n64">Nintendo64</ion-option>
            <ion-option value="ps">PlayStation</ion-option>
            <ion-option value="genesis">Sega Genesis</ion-option>
            <ion-option value="saturn">Sega Saturn</ion-option>
            <ion-option value="snes">SNES</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Municipio</ion-label>
          <ion-select [(ngModel)]="municipio">
            <ion-option value="nes">NES</ion-option>
            <ion-option value="n64">Nintendo64</ion-option>
            <ion-option value="ps">PlayStation</ion-option>
            <ion-option value="genesis">Sega Genesis</ion-option>
            <ion-option value="saturn">Sega Saturn</ion-option>
            <ion-option value="snes">SNES</ion-option>
          </ion-select>
        </ion-item-->
        <h3>Datos del dueño</h3>
        <ion-item>
            <ion-icon name="md-finger-print" item-start></ion-icon>
            <ion-label>Tipo de documento</ion-label>
            <ion-select>
              <ion-option value="0">Cédula de ciudadania</ion-option>
              <ion-option value="1">Tarjeta de Identidad</ion-option>
              <ion-option value="2">Cédula de extranjeria</ion-option>
              <ion-option value="3">Registro Civil</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
              <ion-icon name="contact" item-start></ion-icon>
              <ion-label>Documento:</ion-label>
              <ion-input type="number" ></ion-input>
          </ion-item>
            <ion-grid>
              
                <ion-row justify-content-center>
                    <button *ngIf="edit" ion-button color="secondary" outline >Guardar</button>                
                </ion-row>
                <ion-row justify-content-center>
                    <button ion-button clear >Borrar</button>                
                </ion-row>
              </ion-grid>
</ion-content>
